@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 165 50% 95%;
  --foreground: 184 100% 10%;
  --card: 0 0% 100%;
  --card-foreground: 184 100% 10%;
  --popover: 0 0% 100%;
  --popover-foreground: 184 100% 10%;
  --primary: 184 100% 10%;
  --primary-foreground: 165 50% 95%;
  --secondary: 165 50% 95%;
  --secondary-foreground: 184 100% 10%;
  --muted: 165 50% 93%;
  --muted-foreground: 184 50% 30%;
  --accent: 165 50% 93%;
  --accent-foreground: 184 100% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 165 30% 85%;
  --input: 165 30% 85%;
  --ring: 184 100% 10%;
  --radius: 0.75rem;
  --chart-1: 152 59% 82%;
  --chart-2: 170 54% 72%;
  --chart-3: 352 59% 84%;
  --chart-4: 230 54% 79%;
  --chart-5: 82 59% 82%;
  --sidebar: 184 100% 10%;
  --sidebar-foreground: 165 50% 95%;
  --sidebar-primary: 184 100% 10%;
  --sidebar-primary-foreground: 165 50% 95%;
  --sidebar-accent: 184 80% 15%;
  --sidebar-accent-foreground: 165 50% 95%;
  --sidebar-border: 184 80% 15%;
  --sidebar-ring: 165 50% 95%;
}

.dark {
  --background: 184 100% 10%;
  --foreground: 165 50% 95%;
  --card: 184 90% 12%;
  --card-foreground: 165 50% 95%;
  --popover: 184 90% 12%;
  --popover-foreground: 165 50% 95%;
  --primary: 165 50% 95%;
  --primary-foreground: 184 100% 10%;
  --secondary: 184 80% 15%;
  --secondary-foreground: 165 50% 95%;
  --muted: 184 80% 15%;
  --muted-foreground: 165 30% 70%;
  --accent: 184 80% 15%;
  --accent-foreground: 165 50% 95%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 165 50% 95%;
  --border: 184 80% 15%;
  --input: 184 80% 15%;
  --ring: 165 50% 95%;
  --chart-1: 152 59% 82%;
  --chart-2: 170 54% 72%;
  --chart-3: 352 59% 84%;
  --chart-4: 230 54% 79%;
  --chart-5: 82 59% 82%;
  --sidebar: 184 100% 10%;
  --sidebar-foreground: 165 50% 95%;
  --sidebar-primary: 165 50% 95%;
  --sidebar-primary-foreground: 184 100% 10%;
  --sidebar-accent: 184 80% 15%;
  --sidebar-accent-foreground: 165 50% 95%;
  --sidebar-border: 184 80% 15%;
  --sidebar-ring: 165 50% 95%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-m-20 tracking-tight;
  }
  h1 {
    @apply text-4xl font-extrabold lg:text-5xl;
  }
  h2 {
    @apply border-b pb-2 text-3xl font-semibold first:mt-0;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
  pre {
    @apply overflow-x-auto rounded-lg border bg-muted p-4;
  }
  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }
  ol {
    @apply my-6 ml-6 list-decimal [&>li]:mt-2;
  }
}
